@charset "UTF-8";
/*!
 * CREATED BY:
 *     - Shruti Devani
 *     - Pratharan Sai Rupak Reddy Gondi
 *     - Keyur Mansukhbhai Kanani
 *     - Harpreet Singh
 *     - Vinay Kumar Reddy Janumpally
 * VERSION: 0.1
 */

/*!
 * Default Classes
 */
:root {
  --primary-shade: #3aafa9;
  --primary-dark-shade: #2b7a78;
  --primary-light-shade: #def2f1;
  --dark-shade: #17252a;
  --white-shade: #feffff
}

@font-face {
  font-family: "NerkoOne";
  src: url("/fonts/nerko-one/nerko-one-regular.woff") format("woff");
  src: url("/fonts/nerko-one/nerko-one-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

/*Container Classes*/
.container {
  max-width: 100% !important;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.container-fluid {
  display: flex;
  flex-wrap: inherit;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

/*Margin Classes*/
.m-0 {
  margin: 0;
}

.m-1 {
  margin: 0.25rem;
}

.m-2 {
  margin: 0.5rem;
}

.m-3 {
  margin: 0.75rem;
}

.m-4 {
  margin: 1rem;
}

.m-5 {
  margin: 1.5rem;
}

.m-6 {
  margin: 3rem;
}

.mx-0 {
  margin-left: 0;
  margin-right: 0;
}

.mx-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.mx-3 {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.mx-4 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.mx-5 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.mx-6 {
  margin-left: 3rem;
  margin-right: 3rem;
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.my-1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.my-3 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.my-5 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.my-6 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.my-1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.my-3 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.my-5 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.my-6 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: 0.25rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-3 {
  margin-top: 0.75rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mt-5 {
  margin-top: 1.5rem;
}

.mt-6 {
  margin-top: 3rem;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-3 {
  margin-bottom: 0.75rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-5 {
  margin-bottom: 1.5rem;
}

.mb-6 {
  margin-bottom: 3rem;
}

.ml-0 {
  margin-left: 0;
}

.ml-1 {
  margin-left: 0.25rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.ml-3 {
  margin-left: 0.75rem;
}

.ml-4 {
  margin-left: 1rem;
}

.ml-5 {
  margin-left: 1.5rem;
}

.ml-6 {
  margin-left: 3rem;
}

.mr-0 {
  margin-right: 0;
}

.mr-1 {
  margin-right: 0.25rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.mr-3 {
  margin-right: 0.75rem;
}

.mr-4 {
  margin-right: 1rem;
}

.mr-5 {
  margin-right: 1.5rem;
}

.mr-6 {
  margin-right: 3rem;
}

/*Padding Classes*/
.p-0 {
  padding: 0;
}

.p-1 {
  padding: 0.25rem;
}

.p-2 {
  padding: 0.5rem;
}

.p-3 {
  padding: 0.75rem;
}

.p-4 {
  padding: 1rem;
}

.p-5 {
  padding: 1.5rem;
}

.p-6 {
  padding: 3rem;
}

.px-0 {
  padding-left: 0;
  padding-right: 0;
}

.px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-5 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.px-6 {
  padding-left: 3rem;
  padding-right: 3rem;
}

.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-5 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.py-6 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.pt-0 {
  padding-top: 0;
}

.pt-1 {
  padding-top: 0.25rem;
}

.pt-2 {
  padding-top: 0.5rem;
}

.pt-3 {
  padding-top: 0.75rem;
}

.pt-4 {
  padding-top: 1rem;
}

.pt-5 {
  padding-top: 1.5rem;
}

.pt-6 {
  padding-top: 3rem;
}

.pb-0 {
  margin-bottom: 0;
}

.pb-1 {
  padding-bottom: 0.25rem;
}

.pb-2 {
  padding-bottom: 0.5rem;
}

.pb-3 {
  padding-bottom: 0.75rem;
}

.pb-4 {
  padding-bottom: 1rem;
}

.pb-5 {
  padding-bottom: 1.5rem;
}

.pb-6 {
  padding-bottom: 3rem;
}

.pl-0 {
  padding-left: 0;
}

.pl-1 {
  padding-left: 0.25rem;
}

.pl-2 {
  padding-left: 0.5rem;
}

.pl-3 {
  padding-left: 0.75rem;
}

.pl-4 {
  padding-left: 1rem;
}

.pl-5 {
  padding-left: 1.5rem;
}

.pl-6 {
  padding-left: 3rem;
}

.pr-0 {
  padding-right: 0;
}

.pr-1 {
  padding-right: 0.25rem;
}

.pr-2 {
  padding-right: 0.5rem;
}

.pr-3 {
  padding-right: 0.75rem;
}

.pr-4 {
  padding-right: 1rem;
}

.pr-5 {
  padding-right: 1.5rem;
}

.pr-6 {
  padding-right: 3rem;
}

/*Text Classes*/
.text-primary {
  color: var(--primary-shade);
}

.text-primary-dark {
  color: var(--primary-dark-shade);
}

.text-primary-light {
  color: var(--primary-light-shade);
}

.text-dark {
  color: var(--dark-shade);
}

.text-light {
  color: var(--white-shade);
}

.text-decoration-none {
  text-decoration: none;
}

/*Background Classes*/
.bg-primary {
  background-color: var(--primary-shade);
}

.bg-primary-dark {
  background-color: var(--primary-dark-shade);
}

.bg-primary-light {
  background-color: var(--primary-light-shade);
}

.bg-dark {
  background-color: var(--dark-shade);
}

.bg-light {
  background-color: var(--white-shade);
}

/*List Classes*/
.list-style-none {
  list-style-type: none;
}

.list-style-circle {
  list-style-type: circle;
}

.bgPrimary {
  background-color: var(--primary-shade);;
}

.brandName {
  font-family: "NerkoOne", sans-serif;
  color: var(--white-shade);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.8rem;
  line-height: 1;
}

.shadow {
  box-shadow: 0 0.0625rem 0.8rem var(--dark-shade) !important;
}

.navBar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0 0.1rem 0;
}

.navBarToggler {
  line-height: 1;
  background-color: transparent;
  border: none;
}

.navBarTogglerIcon {
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28254, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3.5' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  background-image: var(--bs-navbar-toggler-icon-bg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.navLinksContainer {
  width: 100%;
}

.navLinksList {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  width: 100%;
}

.navLinksList .navListItem {
  padding: 0.5rem 1rem;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  cursor: pointer;
  border-bottom: 1px solid var(--white-shade);
}

.navLinksList .navListItem:last-child {
  border-bottom: none;
}

.navLinksList .navListItem a {
  text-decoration: none;
  color: var(--white-shade);
}

.navLinksList .navListItem:hover {
  font-weight: 600;
  background-color: var(--primary-dark-shade);
}

.pageTittleHeading {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

/*!
 * Tablet Classes/Overrides
 */
@media (min-width: 768px) {
  .container {
    max-width: 720px !important;
  }
}


/*!
 * Desktop Classes/Overrides
 */
@media (min-width: 992px) {
  .container {
    max-width: 960px !important;
  }
}