@charset "UTF-8";
/*!
 * CREATED BY:
 *     - Shruti Devani
 *     - Pratharan Sai Rupak Reddy Gondi
 *     - Keyur Mansukhbhai Kanani
 *     - Harpreet Singh
 *     - Vinay Kumar Reddy Janumpally
 * INSPIRED BY: Bootstrap Library
 * VERSION: 0.1
 */

/*!
 * Project Colors & Icons
 */
:root {
  /*Colors*/
  --teal-100: rgb(178, 223, 219);
  --teal-200: rgb(128, 203, 196);
  --teal-300: rgb(77, 182, 172);
  --teal-400: rgb(38, 166, 154);
  --teal-500: rgb(0, 150, 136);
  --teal-600: rgb(0, 137, 123);
  --teal-700: rgb(0, 121, 107);
  --teal-800: rgb(0, 105, 92);
  --teal-900: rgb(0, 77, 64);
  --blue-grey-100: rgb(207, 216, 220);
  --blue-grey-200: rgb(176, 190, 197);
  --blue-grey-300: rgb(144, 164, 174);
  --blue-grey-400: rgb(120, 144, 156);
  --blue-grey-500: rgb(96, 125, 139);
  --blue-grey-600: rgb(84, 110, 122);
  --blue-grey-700: rgb(69, 90, 100);
  --blue-grey-800: rgb(55, 71, 79);
  --blue-grey-900: rgb(38, 50, 56);
  --grey-100: rgb(245, 245, 245);
  --grey-200: rgb(238, 238, 238);
  --grey-300: rgb(224, 224, 224);
  --grey-400: rgb(189, 189, 189);
  --grey-500: rgb(158, 158, 158);
  --grey-600: rgb(117, 117, 117);
  --grey-700: rgb(97, 97, 97);
  --grey-800: rgb(66, 66, 66);
  --grey-900: rgb(33, 33, 33);
  --primary-shade: var(--teal-500);
  --primary-dark-shade: var(--teal-800);
  --primary-light-shade: var(--teal-200);
  --accent-shade: var(--blue-grey-500);
  --accent-dark-shade: var(--blue-grey-800);
  --accent-light-shade: var(--blue-grey-300);
  --grey-light-shade: var(--grey-100);
  --grey-dark-shade: var(--grey-900);
  /*Icons*/
  --navbar-toggler: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28254, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3.5' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  --external-link: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pjxzdmcgdmlld0JveD0iMCAwIDIwIDIwIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGQ9Ik05LjI2IDEzYTIgMiAwIDAgMSAuMDEtMi4wMUEzIDMgMCAwIDAgOSA1SDVhMyAzIDAgMCAwIDAgNmguMDhhNi4wNiA2LjA2IDAgMCAwIDAgMkg1QTUgNSAwIDAgMSA1IDNoNGE1IDUgMCAwIDEgLjI2IDEwem0xLjQ4LTZhMiAyIDAgMCAxLS4wMSAyLjAxQTMgMyAwIDAgMCAxMSAxNWg0YTMgMyAwIDAgMCAwLTZoLS4wOGE2LjA2IDYuMDYgMCAwIDAgMC0ySDE1YTUgNSAwIDAgMSAwIDEwaC00YTUgNSAwIDAgMS0uMjYtMTB6Ii8+PC9zdmc+");
  --location-icon: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pjxzdmcgdmlld0JveD0iMCAwIDMwIDMwIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjx0aXRsZS8+PGcgZGF0YS1uYW1lPSJMYXllciAyIiBpZD0iTGF5ZXJfMiI+PGcgaWQ9IkludGVyZmFjZS1Tb2xpZCI+PGcgaWQ9ImludGVyZmFjZS1zb2xpZC1waW4tbG9jYXRpb24iPjxjaXJjbGUgY3g9IjE1IiBjeT0iOS41NzEyOSIgZmlsbD0ibm9uZSIgcj0iMy40Mjg2NSIvPjxwYXRoIGQ9Ik0yNS4zMTE1MiwyMC40MDAzOWExLDEsMCwxLDAtLjYyMywxLjkwMDM5QzI2Ljk3NjA3LDIzLjA1MDc4LDI4LDIzLjk0NjI5LDI4LDI0LjVjMCwxLjM5MzU1LTUuMTg1MDYsMy41LTEzLDMuNVMyLDI1Ljg5MzU1LDIsMjQuNWMwLS41NTM3MSwxLjAyMzkzLTEuNDQ5MjIsMy4zMTE1Mi0yLjE5OTIyYTEsMSwwLDEsMC0uNjIzLTEuOTAwMzlDLjgxMzQ4LDIxLjY3MDksMCwyMy4zMzEwNSwwLDI0LjUsMCwyOC4xMTAzNSw3LjU0NTksMzAsMTUsMzBzMTUtMS44ODk2NSwxNS01LjVDMzAsMjMuMzMxMDUsMjkuMTg2NTIsMjEuNjcwOSwyNS4zMTE1MiwyMC40MDAzOVoiLz48cGF0aCBkPSJNMTQuMzc1NDksMjUuNzgxMjVhMS4wMDA4MywxLjAwMDgzLDAsMCwwLDEuMjQ5LDBjLjM2NTcyLS4yOTMsOC45NDY3OC03LjI2MDc0LDguOTQ2NzgtMTYuMjFhOS41NzEyOSw5LjU3MTI5LDAsMCwwLTE5LjE0MjU4LDBDNS40Mjg3MSwxOC41MjA1MSwxNC4wMDk3NywyNS40ODgyOCwxNC4zNzU0OSwyNS43ODEyNVptLTIuODA0MDgtMTYuMjFBMy40Mjg1OSwzLjQyODU5LDAsMSwxLDE1LDEzLDMuNDI4NywzLjQyODcsMCwwLDEsMTEuNTcxNDEsOS41NzEyOVoiLz48L2c+PC9nPjwvZz48L3N2Zz4=");
  --telephone-icon: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pjxzdmcgdmlld0JveD0iMCAwIDUxMiA1MTIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTI4NC42IDE4MS45Yy0xMC4yOC04LjM0NC0yNS40MS02Ljg3NS0zMy43NSAzLjQwNkMyNDIuNCAxOTUuNiAyNDMuOSAyMTAuNyAyNTQuMiAyMTkuMWMxMS4zMSA5LjI1IDE3LjgxIDIyLjY5IDE3LjgxIDM2Ljg3YzAgMTQuMTktNi41IDI3LjYyLTE3LjgxIDM2Ljg3Yy0xMC4yOCA4LjQwNi0xMS43OCAyMy41My0zLjM3NSAzMy43OGM0LjcxOSA1LjgxMiAxMS42MiA4LjgxMiAxOC41NiA4LjgxMmM1LjM0NCAwIDEwLjc1LTEuNzgxIDE1LjE5LTUuNDA2YzIyLjUzLTE4LjQ0IDM1LjQ0LTQ1LjQgMzUuNDQtNzQuMDVTMzA3LjEgMjAwLjQgMjg0LjYgMTgxLjl6TTM0NS4xIDEwNy4xYy0xMC4yMi04LjM0NC0yNS4zNC02LjkwNy0zMy43OCAzLjM0M2MtOC40MDYgMTAuMjUtNi45MDYgMjUuMzcgMy4zNDQgMzMuNzhjMzMuODggMjcuNzggNTMuMzEgNjguMTggNTMuMzEgMTEwLjlzLTE5LjQ0IDgzLjA5LTUzLjMxIDExMC45Yy0xMC4yNSA4LjQwNi0xMS43NSAyMy41My0zLjM0NCAzMy43OGM0Ljc1IDUuNzgxIDExLjYyIDguNzgxIDE4LjU2IDguNzgxYzUuMzc1IDAgMTAuNzUtMS43ODEgMTUuMjItNS40MzhDMzkwLjIgMzY3LjEgNDE2IDMxMy4xIDQxNiAyNTUuMVMzOTAuMiAxNDQuOSAzNDUuMSAxMDcuMXpNNDA2LjQgMzMuMTVjLTEwLjIyLTguMzQ0LTI1LjM0LTYuODc1LTMzLjc4IDMuMzQ0Yy04LjQwNiAxMC4yNS02LjkwNiAyNS4zNyAzLjM0NCAzMy43OEM0MzEuOSAxMTYuMSA0NjQgMTgzLjggNDY0IDI1NS4xcy0zMi4wOSAxMzkuOS04OC4wNiAxODUuN2MtMTAuMjUgOC40MDYtMTEuNzUgMjMuNTMtMy4zNDQgMzMuNzhjNC43NSA1Ljc4MSAxMS42MiA4Ljc4MSAxOC41NiA4Ljc4MWM1LjM3NSAwIDEwLjc1LTEuNzgxIDE1LjIyLTUuNDM4QzQ3My41IDQyMy44IDUxMiAzNDIuNiA1MTIgMjU1LjFTNDczLjUgODguMTUgNDA2LjQgMzMuMTV6TTE1MS4zIDE3NC42QzE2MS4xIDE3NS42IDE3Mi4xIDE2OS41IDE3NiAxNTkuNmwzMy43NS04NC4zOEMyMTQgNjQuMzUgMjA5LjEgNTEuMSAyMDAuMiA0NS44NmwtNjcuNDctNDIuMTdDMTIzLjItMi4yODkgMTEwLjktLjg5NDUgMTAyLjkgNy4wOEMtMzQuMzIgMTQ0LjMtMzQuMzEgMzY3LjcgMTAyLjkgNTA0LjljNy45ODIgNy45ODQgMjAuMjIgOS4zNzkgMjkuNzUgMy40MDJsNjcuNDgtNDIuMTljOS43NzUtNi4xMDQgMTMuOS0xOC40NyA5LjU5OC0yOS4zTDE3NiAzNTIuNWMtMy45NDUtOS45NjMtMTQuMTQtMTYuMTEtMjQuNzMtMTQuOTdsLTUzLjI0IDUuMzE0Qzc4Ljg5IDI4Ni43IDc4Ljg5IDIyNS40IDk4LjA2IDE2OS4zTDE1MS4zIDE3NC42eiIvPjwvc3ZnPg==");
}

/*!
 * Project Fonts
 */
@font-face {
  font-family: "NerkoOne";
  src: url("/fonts/nerko-one/nerko-one-regular.woff") format("woff");
  src: url("/fonts/nerko-one/nerko-one-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/*!
 * Icon Classes
 */
.svg-icon {
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  width: 0.9rem;
  height: 0.9rem;
  margin-top: 0.12rem;
}

.location-icon {
  background-image: var(--location-icon);
}

.telephone-icon {
  background-image: var(--telephone-icon);
}

/*!
 * Container Classes
 */
.container {
  max-width: 100%;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  margin-left: auto;
  margin-right: auto;
}

.container-fluid {
  display: flex;
  flex-wrap: inherit;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

/*!
 * Margin Classes
 */
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.m-0 {
  margin: 0;
}

.m-1 {
  margin: 0.25rem;
}

.m-2 {
  margin: 0.5rem;
}

.m-3 {
  margin: 0.75rem;
}

.m-4 {
  margin: 1rem;
}

.m-5 {
  margin: 1.5rem;
}

.m-6 {
  margin: 5rem;
}

.mx-0 {
  margin-left: 0;
  margin-right: 0;
}

.mx-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.mx-3 {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.mx-4 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.mx-5 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.mx-6 {
  margin-left: 5rem;
  margin-right: 5rem;
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.my-1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.my-3 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.my-5 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.my-6 {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.my-1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.my-3 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.my-5 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.my-6 {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: 0.25rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-3 {
  margin-top: 0.75rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mt-5 {
  margin-top: 1.5rem;
}

.mt-6 {
  margin-top: 5rem;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-3 {
  margin-bottom: 0.75rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-5 {
  margin-bottom: 1.5rem;
}

.mb-6 {
  margin-bottom: 5rem;
}

.ml-0 {
  margin-left: 0;
}

.ml-1 {
  margin-left: 0.25rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.ml-3 {
  margin-left: 0.75rem;
}

.ml-4 {
  margin-left: 1rem;
}

.ml-5 {
  margin-left: 1.5rem;
}

.ml-6 {
  margin-left: 5rem;
}

.mr-0 {
  margin-right: 0;
}

.mr-1 {
  margin-right: 0.25rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.mr-3 {
  margin-right: 0.75rem;
}

.mr-4 {
  margin-right: 1rem;
}

.mr-5 {
  margin-right: 1.5rem;
}

.mr-6 {
  margin-right: 5rem;
}

/*!
 * Padding Classes
 */
.p-0 {
  padding: 0;
}

.p-1 {
  padding: 0.25rem;
}

.p-2 {
  padding: 0.5rem;
}

.p-3 {
  padding: 0.75rem;
}

.p-4 {
  padding: 1rem;
}

.p-5 {
  padding: 1.5rem;
}

.p-6 {
  padding: 5rem;
}

.px-0 {
  padding-left: 0;
  padding-right: 0;
}

.px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-5 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.px-6 {
  padding-left: 5rem;
  padding-right: 5rem;
}

.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-5 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.py-6 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.pt-0 {
  padding-top: 0;
}

.pt-1 {
  padding-top: 0.25rem;
}

.pt-2 {
  padding-top: 0.5rem;
}

.pt-3 {
  padding-top: 0.75rem;
}

.pt-4 {
  padding-top: 1rem;
}

.pt-5 {
  padding-top: 1.5rem;
}

.pt-6 {
  padding-top: 5rem;
}

.pb-0 {
  margin-bottom: 0;
}

.pb-1 {
  padding-bottom: 0.25rem;
}

.pb-2 {
  padding-bottom: 0.5rem;
}

.pb-3 {
  padding-bottom: 0.75rem;
}

.pb-4 {
  padding-bottom: 1rem;
}

.pb-5 {
  padding-bottom: 1.5rem;
}

.pb-6 {
  padding-bottom: 5rem;
}

.pl-0 {
  padding-left: 0;
}

.pl-1 {
  padding-left: 0.25rem;
}

.pl-2 {
  padding-left: 0.5rem;
}

.pl-3 {
  padding-left: 0.75rem;
}

.pl-4 {
  padding-left: 1rem;
}

.pl-5 {
  padding-left: 1.5rem;
}

.pl-6 {
  padding-left: 5rem;
}

.pr-0 {
  padding-right: 0;
}

.pr-1 {
  padding-right: 0.25rem;
}

.pr-2 {
  padding-right: 0.5rem;
}

.pr-3 {
  padding-right: 0.75rem;
}

.pr-4 {
  padding-right: 1rem;
}

.pr-5 {
  padding-right: 1.5rem;
}

.pr-6 {
  padding-right: 5rem;
}

/*!
 * Width Classes
 */
.w-100 {
  width: 100%;
}

.w-75 {
  width: 75%;
}

.w-50 {
  width: 50%;
}

.w-25 {
  width: 25%;
}

/*!
 * Font Classes
 */
.fs-1 {
  font-size: 1rem;
}

.fs-2 {
  font-size: 1.5rem;
}

.fs-3 {
  font-size: 2rem;
}

.fs-4 {
  font-size: 2.5rem;
}

.fs-5 {
  font-size: 3rem;
}

/*!
 * Font Weight Classes
 */
.fw-1 {
  font-weight: 100;
}

.fw-2 {
  font-weight: 300;
}

.fw-3 {
  font-weight: 500;
}

.fw-4 {
  font-weight: 700;
}

.fw-5 {
  font-weight: 900;
}

/*!
 * Line Height Classes
 */
.lh-1 {
  line-height: 1;
}

.lh-2 {
  line-height: 1.2;
}

.lh-3 {
  line-height: 1.5;
}

.lh-4 {
  line-height: 2;
}

.lh-5 {
  line-height: 2.5;
}

/*!
 * Grid & Flexbox Classes
 */
.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.flex-direction-col {
  flex-direction: column;
}

.d-grid {
  display: flex;
}

/*!
 * Grid Gap Classes
 */
.gap-1 {
  grid-gap: 0.25rem;
}

.gap-2 {
  grid-gap: 0.5rem;
}

.gap-3 {
  grid-gap: 1rem;
}

.gap-4 {
  grid-gap: 1.5rem;
}

.gap-5 {
  grid-gap: 3rem;
}

/*!
 * Row & Column Classes
 */
.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.col {
  flex: 0 0 auto;
  width: 100%;
}

/*!
 * Text Classes
 */
.text-primary {
  color: var(--primary-shade);
}

.text-primary-dark {
  color: var(--primary-dark-shade);
}

.text-primary-light {
  color: var(--primary-light-shade);
}

.text-accent {
  color: var(--accent-dark-shade);
}

.text-light {
  color: var(--grey-light-shade);
}

.text-dark {
  color: var(--grey-dark-shade);
}

.text-faded {
  font-family: monospace;
  color: var(--grey-500);
}

.text-center {
  text-align: center;
}

.text-decoration-none {
  text-decoration: none;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-capitalize {
  text-transform: capitalize;
}

/*!
 * Background Classes
 */
.bg-primary {
  background-color: var(--primary-shade);
}

.bg-primary-dark {
  background-color: var(--primary-dark-shade);
}

.bg-primary-light {
  background-color: var(--primary-light-shade);
}

.bg-dark {
  background-color: var(--accent-dark-shade);
}

.bg-light {
  background-color: var(--grey-light-shade);
}

/*!
 * Link Classes
 */
.link-primary, .link-primary:visited {
  color: var(--primary-shade);
}

.link-primary:hover, .link-primary:active {
  color: var(--primary-light-shade);
}

.link-accent, .link-accent:visited {
  color: var(--accent-dark-shade);
}

.link-accent:hover, .link-accent:active {
  color: var(--accent-light-shade);
}

.link-dark, .link-dark:visited {
  color: var(--grey-dark-shade);
}

.link-dark:hover, .link-dark:active {
  color: var(--primary-shade);
}

.link-light, .link-light:visited {
  color: var(--grey-light-shade);
}

.link-light:hover, .link-light:active {
  color: var(--grey-400);
}

.link-credits, .link-credits:visited {
  color: var(--grey-400);
}

.link-credits:hover, .link-credits:active {
  color: var(--grey-500);
}

/*!
 * Form Classes
 */
.form-label {
  display: block;
  margin-bottom: 0.25rem;
}

.form-control {
  display: block;
  min-width: 100%;
  border-radius: 0.25rem;
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
  padding: 0.25rem;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: 0.1rem solid var(--accent-dark-shade);
}

.form-control:hover {
  outline: none;
  border-color: var(--primary-light-shade);
  box-shadow: 0 0 0 0.18rem var(--primary-light-shade);
}

.form-control:focus {
  outline: none;
  border-color: var(--primary-shade);
  box-shadow: 0 0 0 0.18rem var(--primary-shade);
}

.textarea-form-control {
  resize: vertical;
}

/*!
 * Button Classes
 */
.btn {
  margin: 0;
  padding: 0.5rem 1.5rem;
  font-size: 1.1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  text-align: center;
  border: none;
}

.btn-primary {
  background-color: var(--primary-shade);
  color: var(--grey-light-shade);
  border: none;
}

.btn-primary:hover, .btn-primary:active {
  background-color: var(--primary-dark-shade);
  box-shadow: 0 0 0 0.15rem var(--primary-light-shade);
}

.btn-accent {
  background-color: var(--accent-dark-shade);
  color: var(--grey-light-shade);
}

.btn-accent:hover, .btn-accent:active {
  background-color: var(--accent-shade);
  box-shadow: 0 0 0 0.15rem var(--accent-light-shade);
}

/*!
 * List Classes
 */
.list-style-none {
  list-style-type: none;
}

.list-style-circle {
  list-style-type: circle;
}

.list-style-link {
  list-style-image: var(--external-link);
}

.list-bullet {
  font-size: 1.5rem;
}

/*!
 * Mobile/Default Styles
 */
*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  color: var(--grey-dark-shade);
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.brand-name {
  font-family: "NerkoOne", sans-serif;
  color: var(--grey-light-shade);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.8rem;
  line-height: 1.4;
  margin-left: auto;
  margin-right: auto;
}

.brand-name:hover, .brand-name:active {
  text-shadow: 0.1rem 0.1rem 0.5rem var(--accent-dark-shade);
}

.shadow {
  box-shadow: 0 0.0625rem 0.8rem var(--accent-dark-shade) !important;
}

.navBar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
  border-radius: 0 0 0.3rem 0.3rem;
}

.navbar-toggler {
  line-height: 1;
  background-color: transparent;
  border: none;
}

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  background-image: var(--navbar-toggler);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.nav-links-list-container {
  width: 100%;
}

.nav-links-list {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  width: 100%;
}

.nav-links-list .nav-list-item {
  padding: 0.5rem 1rem;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  cursor: pointer;
  border-bottom: 1px solid var(--grey-light-shade);
}

.nav-links-list .nav-list-item:last-child {
  border-bottom: none;
}

.nav-links-list .nav-list-item a {
  color: var(--grey-light-shade);
}

.nav-links-list .nav-list-item:hover {
  font-weight: 600;
  background-color: var(--primary-dark-shade);
  border-radius: 0.3rem;
}

.pageTittleHeading {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.icon-text-cols {
  display: grid;
  grid-template-columns: 2rem auto;
}

.page-footer {
  width: 100%;
  padding: 2rem 0;
  color: var(--grey-light-shade);
  border-radius: 0.3rem 0.3rem 0 0;
}

.footer-links-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.3rem;
  list-style: none;
  text-align: center;
  justify-content: center;
  align-items: center;
}

/*!
 * Tablet Styles
 */
@media (min-width: 768px) {
  .container {
    max-width: 720px !important;
  }

  .nav-links-list {
    flex-direction: row;
    padding: 0;
    margin: 0;
  }

  .nav-links-list .nav-list-item {
    border-bottom: none;
  }

  .footer-links-list {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}


/*!
 * Desktop Styles
 */
@media (min-width: 992px) {
  .container {
    max-width: 960px !important;
  }

  .row {
    justify-content: space-between;
  }

  .col-lg {
    flex: 0 0 auto;
    width: 49%;
  }

  .col-pwd{
    /* flex: 0 0 auto; */
    width: 49%;
  }
  .brand-name {
    margin: 0;
  }

  .nav-links-list-container {
    width: auto;
  }

  .nav-links-list .nav-list-item {
    width: fit-content;
  }

  .btn {
    padding: 0.5rem 3rem;
  }
}